@media (max-width: 1797px) {
    .blockOne, .blockThree, .blockTwo, .blockFive, .blockSeven, .blockNine {
        padding-right: 0;
        padding-left: 0;
        margin: 0;
    }

    .blockFour {
        grid-template-columns: 2fr;
        height: 450px;

    }

    .firsElement, .secondElement, .thirdElement {
        padding-left: 5%;

    }

    .firsElement {
        margin-top: 0;
        grid-gap: 5px;
    }

    input, select {
        font-size: 20px;
    }

    .textBlock-2 {
        font-size: 22px;
    }

    .thirdElement .buttonOne {
        font-size: 30px;

    }

}

@media (max-width: 1500px) {
    .footer {
        width: 400px;
    }

    .mainCategories {
        display: block;
    }

    .mainCategories {
        display: block;
    }

    .mainCategories > :nth-child(1) {
        padding-bottom: 40px;
    }

    .mainCategories > :nth-child(2) {
        padding-bottom: 40px;
    }

    .footerF {
        padding-top: 1200px;
    }

    .footer .imgF {
        height: 1180px;
        object-fit: cover;
    }

    .four {
        display: grid;
        grid-template-columns: repeat(3, 120px);
        grid-template-rows: 60px 120px 100px;
        grid-gap: 10px;
    }

}

@media (max-width: 1257px) {
    .infoBlock {
        font-size: 10px;
    }

    .blockTwo {
        height: 1100px;
    }


    .blockFive {
        height: 700px;
    }

    .blockSeven {
        height: 1300px;
    }

    .blockEight .fa-brands {
        font-size: 80px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .blockNine .structure {
        width: 100%;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        padding-top: 220px;
        z-index: 2;
    }

    .blockNine .structure .text-6 {
        margin-left: auto;
        margin-right: auto;
    }

    .blockNine {
        height: 850px;

    }

    .blockNine .buttons {
        margin-top: 820px;
        margin-left: 43%;
    }

    .navBar {
        padding: 0 100px 0 160px;
    }
}

@media (max-width: 1319px) {
    .blockThree {
        height: 800px;
    }
}

/*--------------m-------------*/
@media (max-width: 990px) {
    .container {
        width: 400px;
        height: 450px;
        display: block;
        margin-left: auto;
        margin-right: auto
    }

    .container-2 {
        overflow: hidden;
        width: 800px;
        height: 750px;
        background-color: #558fa1;
    }

    .activate-2 img {
        width: 100%;
        object-fit: cover;
    }

    .containerFive {
        width: 100%;
        height: 800px;
        display: block;
    }

    .activate-2 {
        height: 700px;
        width: 800px;
        display: block;
        margin-bottom: 60px;
    }

    .activate-2 .noVisible-2 {
        padding-left: 20px;
        padding-right: 20px;
        text-align: left;
        height: 720px;
        width: 800px;
        transform: translateY(-154px);
        background-color: rgba(81, 156, 183, 0.76);
        transition: .65s transform;
    }

    .noVisible-2 h2 {
        font-size: 60px;
    }

    .noVisible-2 p {
        font-size: 30px;
        line-height: 50px;
    }

    .activate-2:hover .noVisible-2 {
        transform: translateY(-800px);
    }

    .blockFive {
        height: 2500px;
    }

    .blockSeven {
        height: 2960px;
    }

    .text-7 span, .text-7 p {
        font-size: 30px;
    }

    .text-7 h2 {
        font-size: 40px;
    }

    .container-7 {
        margin-bottom: 50px;
        height: 880px;
        width: 800px;
    }

    .container-7 img {
        width: 100%;
        object-fit: cover;
    }

    .blockEight {
        height: 400px;
    }

    .blockNine span {
        font-size: 30px;
        line-height: 50px;
    }

    .blockNine h3 {
        font-size: 50px;
        line-height: 50px;
    }

    .blockNine .text-6 {
        height: 400px;
        top: 200px;
        left: 50%;
        margin-right: -50%;
        transform: translate(-45%, -50%);
    }

    .blockNine {
        height: 1200px;
    }

    .blockNine .titleCapsule {
        padding-top: 0;
    }

    .blockNine .buttons {
        margin-top: 1180px;
        margin-left: 43%;
    }

    .col-2 img, .col img {
        height: 250px;
        width: 250px;
    }

    .blockTen span {
        font-size: 30px;
    }

    .blockTen form {
        padding: 0;
        width: 700px;
        height: 100px;
    }

    .blockTen input {
        height: 100px;
        font-size: 30px;
    }

    .two .blockF, .three .blockF, .four .blockF {
        font-size: 50px;
    }

    li {
        font-size: 30px;
    }

    .footer p {
        font-size: 30px;
    }

    .footer {
        height: 100px;
    }

    .footer .imgF {
        height: 1380px;
        object-fit: cover;
    }

    .footerF {
        padding-top: 1400px;
    }

    .blockTen button {
        height: 100px;
        width: 200px;
        font-size: 40px;
    }

    .blockFour .firsElement h1 {
        font-size: 60px;
    }

    .blockFour .firsElement span {
        margin-top: 10px;
        font-size: 30px;
        line-height: 35px;

    }

    .firsElement .textBlock-2 {
        transform: translateY(-100px);
    }

    .blockFour input, .blockFour select {
        height: 80px;
        width: 600px;
        font-size: 30px;
    }

    .blockFour {
        height: 1000px;
    }

    .thirdElement {
        transform: translateY(-40px);
    }

    .blockFour .buttonOne {
        padding-bottom: 60px;
        padding-top: 30px;
    }

    .blockOne {
        height: 910px;
    }

    .imgOne {
        height: 100%;
        object-fit: cover;
    }

    .blockThree {
        height: 1600px;
    }

    .blockThree .titleCapsule {
        padding-bottom: 0;
    }

    .blockTwo {
        height: 2750px;
    }

    .content {
        display: block;
    }

    .container {
        width: 800px;
        height: 800px;
        margin-bottom: 40px;
    }

    .container img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .text {
        font-size: 30px;
        line-height: 50px;
    }

    span {
        font-size: 20px;
    }

    .logo {
        height: 150px;
    }

    .navBar .buttonOne {
        height: 150px;
    }

    .phone .fa-solid {
        font-size: 60px;
    }

    .fa-solid, .fa-brands {
        font-size: 30px;
    }

    .visible .fa-solid, .noVisible .fa-solid {
        font-size: 80px;
    }

    .visible h2, .noVisible h2 {
        font-size: 30px;
        margin-top: 20px;
    }

    .visible {
        width: 800px;
        position: relative;
        top: 50%;
        transform: translate(-24%, -40%);
        margin-top: 40px;
    }

    .noVisible {
        width: 805px;
        position: relative;
        top: -50%;
        transform: translate(-24%, -40%);

    }

    .noVisible > :nth-child(4) {
        margin: 0;
    }

    .noVisible > :nth-child(3) {
        font-size: 19px;
        margin: 0;
    }

    .info span {
        display: none;
    }

    .info .fa-solid, .info .fa-brands {
        display: inline;
    }

    .info, .infoRight {
        padding-right: 0;
    }

    .pc {
        display: none;
    }

    .phone {
        visibility: visible;
    }

    .blockEight .fa-brands {
        font-size: 70px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .blockNine .structure {
        padding-right: 25%;
    }

    .infoLeft {
        padding-left: 60px;
    }

    .infoRight {
        padding-right: 40px;
    }

    .navBar {
        padding: 0 60px 0 60px;
    }

    .buttonOne {
        font-size: 40px;
        padding: 30px 60px 30px 60px;
    }

    .buttonTwo {
        font-size: 40px;
        padding: 30px 60px 30px 60px;
    }

    .title {
        margin-right: 30%;
        margin-left: 30%;
        width: 40%;
        font-size: 60px;
    }

    .containerThree {
        width: 84%;
        height: 300px;
        display: block;
    }

}